<form [formGroup]="formulario">
    <div class="form-row">
        <div class="col-lg-4 col-md-6 mb-3">
            <label>Fecha Inicial:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="date" class="form-control" formControlName="FechaIni" (ngModelChange)="getInfo()">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <label>Fecha Final:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="date" class="form-control" formControlName="FechaFin" (ngModelChange)="getInfo()">
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="table-responsive" *ngIf="tableIs">
            <div class="col-lg-12 col-sm-12 col-md-12 mb-2">
                <h6>
                    Lista de Alquileres
                </h6>
                <hr class="p-2">
            </div>
            <table datatable id="TablaAlquileres" class="table table-hover row-border nowrap " style="width: 80%;">
                <thead>
                    <tr>
                        <th>Cedula cliente</th>
                        <th>Nombre</th>
                        <th>Fecha Alquiler</th>
                        <th>Timepo Alquilado</th>
                        <th>Saldo</th>
                        <th>Placa</th>
                        <th>Marca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let al of tabla">
                        <td>{{al.cedula}}</td>
                        <td>{{al.nombre}}</td>
                        <td>{{al.fechA_ALQUILER | date:'short'}}</td>
                        <td>{{al.tiempO_ALQUILADO}}</td>
                        <td>{{al.saldo}}</td>
                        <td>{{al.placa}}</td>
                        <td>{{al.marca}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>