<div class="jumbotron">
    <h1>Pruebas Gss</h1>
    <p>Vistas</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu Vistas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['VistaUno']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Vista Uno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['VistaDos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Vista Dos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>