.card {
    background-color: #fff !important;
    ;
    border-radius: 10px !important;
    ;
    border: none !important;
    ;
    position: relative !important;
    ;
    margin-bottom: 30px !important;
    ;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1) !important;
    ;
}

.l-bg-cherry0 {
    background: linear-gradient(to right, #a9aaf7, rgb(70, 101, 238)) !important;
    color: #fff;
}

.l-bg-cherry1 {
    background: linear-gradient(to right, #fad2a1, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px !important;
}

.card .card-statistic-3 .card-icon {
    text-align: center !important;
    ;
    line-height: 50px !important;
    ;
    margin-left: 15px !important;
    ;
    color: #000 !important;
    ;
    position: absolute !important;
    ;
    right: -5px !important;
    ;
    top: 20px !important;
    ;
    opacity: 0.1 !important;
    ;
}