<div class="row ">
    <div class="col-xl-3 col-lg-6" *ngFor="let cifra of datos;let i=index">
        <div class="card l-bg-cherry{{i}}">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 *ngIf="i==0; else elseBlock" class="card-title mb-0">Alquiler Mes</h5>
                    <ng-template #elseBlock>
                        <h5 class="card-title mb-0">Alquiler Dia</h5>
                    </ng-template>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{cifra.alquilermes}}
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>12.5% <i class="fa fa-arrow-up"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar l-bg-cyan" role="progressbar" [style.width]="getProgreso(cifra.alquilermes)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
    </div>