<footer class="py-4 bg-dark mt-auto">
    <div class="container-fluid">
        <div class="text-center small">
            <div class="text-muted inter-footer"><a href="/">Prueba Desarrollo GSS GROUP</a> &copy; {{ano}} Diseñado y Creado por: Andres Leonardo Moreno </div>
        </div>
    </div>
</footer>