<div class="container-fluid">
    <app-header></app-header>
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>
    <app-footer></app-footer>
</div>